.work-section {
  margin-top: 50px;
}
.work-section__title-subtitle {
  margin-bottom: 20px;
  font-weight: 400;
}

.work-section__ul {
  display: table;
  margin-left: 1em;
}

.work-section__video {
  width: 100%;
  aspect-ratio: 16/9;
  box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.4);
  margin-top: 40px;
}
.work-section__diagram {
  width: 100%;
  max-width: 900px;
  object-fit: contain;
  margin-top: 40px;
}
.work-section__photo {
  width: 100%;
  max-width: 900px;
  object-fit: contain;
  margin-top: 40px;
  border: #dddddd 12px solid;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 1000px) {
  .work-section__photo {
    border-width: 1.2vw;
  }
}
