.work-section {
  margin-top: 50px;
}
.work-section__title-subtitle {
  margin-bottom: 20px;
  font-weight: 300;
}

.work-section__ul {
  list-style-type: disc;
}

.work-section__video {
  width: 100%;
  aspect-ratio: 16/9;
  box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.4);
  margin-top: 40px;
}
.work-section__diagram {
  width: 100%;
  max-width: 900px;
  object-fit: contain;
  margin-top: 40px;
}
